*.hi
*.o
Programs/Synthesis/newsynth
Programs/Tools/ASCII
Programs/Tools/CliffordT
Programs/Tools/Binary
Programs/Tools/Exact
Programs/Tools/Strict
Programs/Tools/Standard
Programs/Tools/GateCount
Programs/Tools/EPS
Programs/Tools/Preview
Programs/Tools/Approximate
Programs/Tools/PDF
Programs/Tools/Simulate
Programs/Tools/Depth
Programs/Tools/Unbox
Programs/Tools/TrimControls
Programs/QCLParser/QCLParser
Algorithms/TF/tf
Algorithms/USV/usv
Algorithms/GSE/gse
Algorithms/BF/bf
Algorithms/QLS/qls
Algorithms/BWT/bwt
Algorithms/CL/cl
tests/Infinite
tests/NBox
tests/Example3
tests/NamedGate
tests/NoControl
tests/And_list
tests/template/Test2
tests/template/Test1
tests/PhaseTest
tests/WithComputed
tests/Testing
tests/And_rev
tests/TransformerExample
tests/QuantumIfTest
tests/Classical
tests/Decompose_test
tests/And_gate
tests/Reverse
tests/QFTAdder
tests/QEC
tests/BoxExample
tests/Example
tests/SynthesisTest
tests/CountAccess
tests/Test
tests/Teleport
tests/SimpleOracleSimulation
tests/ErrorCircuit
tests/Comments
tests/GPhase
tests/TimeStep
tests/TimeStep-binary
tests/ParseNodeRoot
tests/OptimTest
tests/TeleportGeneric
tests/Example4
tests/HelloWorld
tests/Arith
tests/Box
tests/QRAM
tests/DynamicLifting
tests/QFT
tests/Example1
tests/TemplateTest
tests/Example2
